.login-tekre88gw7 {
	height: 100%;
	width: 100%;
	.login-dc7oru6p5 {
		height: 100%;
		.login-ct4hvemnrb {
			height: 100%;
			@include centerElement();
			.login-cn13o8vwpc {
				max-width: 400px;
				margin: 0 auto;
				float: none;
			}
		}
	}	
}