.app {
	height: 100vh;
	width: 100%;
	margin: 0;
	overflow: hidden;
	.app-body {
		width: 100%;
		height: 100%;
		.app-body-ui {
			width: 100%;
			height: 100%;
			.app-ui-default {
				height: 100%;
				.app-container {
					height: 100vh;
					width: calc(100% - 350px);
					background-color: $appContainerBackgroundColor;
					float: right;
				}
			}
		}
	}
}