@mixin centerElement() {
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	-moz-box-pack: center;
	-moz-box-align: center;
	-o-box-pack: center;
	-o-box-align: center;
	-ms-box-pack: center;
	-ms-box-align: center;
}