// Loader configuration
$loaderSpinnerColor: #000000;
$loaderSpinnerPosition: unquote("right");
$loaderTextColor: #000000;
$loaderTextFontWeight: 300;
$loaderTextSize: 25px;
$loaderSpinnerSize: 50px;

// Sidebar configuration
$sidebarWidth: 350px;
$sidebarBackground: #6e707e;

// Container configuration
$appContainerBackgroundColor: #ffffff;