<!DOCTYPE html>
<html lang="en" class='app'>
<head>
	<title>ZeroToOne - Where Api Is Built</title>
	<meta charset='utf-8'>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<link rel='stylesheet' type='text/css' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css'>
	<link rel='stylesheet' type='text/css' href='/dist/main.bundle.css'>
</head>
<body class='app-body'>
	<div class='app-zcirfeu52g app-body-ui bg-light'>
		<div class='app-e85s5178e app-ui-default' v-if='$store.state.auth.requestedHandshake == true'>
			<router-view v-if='$store.state.auth.authenticated == false'></router-view>
			<div v-else>
				<Sidebar></Sidebar>
				<div class='app-container'>
					<router-view :key='$route.fullPath'></router-view>
				</div>
			</div>
		</div>
		<div class='app-e6zn5pjf2l' v-else>
			<Loader></Loader>
		</div>
	</div>
	<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.js'></script>
	<script src='/dist/scripts.js'></script>
</body>
</html>