.sidebar-ui {
	height: 100vh;
	width: $sidebarWidth;
	background-color: $sidebarBackground;
	padding-top: 30px;
	float: left;
	.sidebar-ui-head {
		padding: 10px 10px;
		display: block;
		border-bottom: 1px solid #ffffff;
	}
	ul {
		list-style-type: none;
		padding: 0;
		li {
			a {
				display: block;
				padding: 10px;
				color: #ffffff;
				text-decoration: none;
				&.active {
					background-color: #f1f1f1;
					color: $sidebarBackground;
				}
			}
		}
	}
}