<template>
	<div class='home-ui'>

	</div>
</template>

<script>
	import {UserClient} from '@clients/UserClient';

	export default {
		components: {
			//
		},

		data () {
			return {
				//
			}
		},

		mounted() {
			//
		}
	}
</script>