<template>
	<div class='profile-ui'>
		<h1>My profile</h1>
		<form v-on:submit.prevent='updateProfile'>
			<div class='form-group'>
				<label>Name</label>
				<input type='text' class='form-control' v-model='user.name'>
			</div>
			<div class='form-group'>
				<label>Email</label>
				<input type='text' class='form-control' v-model='user.email'>
			</div>
			<div class='form-group'>
				<label>Organization</label>
				<input type='text' class='form-control' v-model='user.organization'>
			</div>
			<div class='form-group'>
				<button class='btn btn-secondary'>
					Update profile 
				</button>
			</div>
		</form>
	</div>
</template>

<script>
	import {UserClient} from '@clients/UserClient';

	export default {
		data() {
			return {
				user: {
					name: '',
					email: '',
					organization: ''
				}
			}
		},

		methods: {
			updateProfile() {
				UserClient.updateProfile(this.user).then(() => {
					this.$swal('Your profile was succesfully updated!!');
				}).catch((err) => {
					this.$swal({
						text: err.response.data,
						icon: 'warning'
					});
				});
			}
		},

		mounted() {
			UserClient.get().then((response) => {
				this.user = response.data;
			});
		}
	}
</script>