<template>
	<div class='sidebar-ui'>
		<div class='sidebar-ui-head'>
			<h1 class='text-white'>
				MyApp
			</h1>
		</div>
		<ul>
			<li>
				<router-link to='/' :class="{'active': currentUrlIs(['home'])}">
					Dashboard
				</router-link>
			</li>
			<li>
				<router-link to='/contacts' :class="{'active': currentUrlIs(['contacts.index', 'contacts.add', 'contacts.edit'])}">
					Contacts
				</router-link>
			</li>
			<li>
				<router-link to='/profile' :class="{'active': currentUrlIs(['profile'])}">
					Profile
				</router-link>
			</li>
		</ul>
	</div>
</template>

<script>
	export default {
		methods: {
			currentUrlIs(names) {
				return (names.includes(this.$route.name));
			}
		}
	}
</script>