<template>
	<div class='contacts-add-ui'>
		<h1>
			Add contact
		</h1>
		<form v-on:submit.prevent='createContact'>
			<div class='form-group'>
				<label>Name</label>
				<input type='text' class='form-control' v-model='form.name'>
			</div>
			<div class='form-group'>
				<label>Phone number</label>
				<input type='text' class='form-control' v-model='form.phone_number'>
			</div>
			<div class='form-group'>
				<button class='btn btn-secondary'>
					Create contact 
				</button>
			</div>
		</form>
	</div>
</template>

<script>
	import {ContactsClient} from '@clients/ContactsClient';

	export default {
		data () {
			return {
				form: {
					name: '',
					phone_number: ''
				}
			}
		},

		methods: {
			createContact() {
				ContactsClient.create(this.form).then(() => {
					this.$router.push('/contacts');
				});
			}
		}
	}
</script>