<template>
	<div class='contacts-add-ui'>
		<h1>
			Edit contact
		</h1>
		<form v-on:submit.prevent='updateContact'>
			<div class='form-group'>
				<label>Name</label>
				<input type='text' class='form-control' v-model='form.name'>
			</div>
			<div class='form-group'>
				<label>Phone number</label>
				<input type='text' class='form-control' v-model='form.phone'>
			</div>
			<div class='form-group'>
				<button class='btn btn-secondary'>
					Update contact 
				</button>
			</div>
		</form>
	</div>
</template>

<script>
	import {ContactsClient} from '@clients/ContactsClient';

	export default {
		props: ['id'],

		data () {
			return {
				form: {
					name: '',
					phone: ''
				}
			}
		},

		methods: {
			updateContact() {
				ContactsClient.update(this.id, this.form).then(() => {
					this.$swal('Contact was succesfully updated.');
				});
			}
		},

		mounted() {
			ContactsClient.get(this.id).then((response) => {
				this.form = response.data;
			});
		}
	}
</script>