<template>
	<div class='contacts-index-ui'>
		<div class='contacts-index-ui-add-btn'>
			<router-link to='/contacts/add' class='btn btn-secondary'>
				Add contact
			</router-link>
		</div>
		<div v-if='contacts.length < 1'>
			No contacts
		</div>
		<table class='table table-hover' v-else>
			<thead>
				<tr>
					<th scope='col'>#</th>
					<th scope='col'>Name</th>
					<th scope='col'>Phone number</th>
					<th scope='col'>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for='(contact, index) in contacts' :key="'contact-' + index">
					<td>#{{ contact.id }}</td>
					<td>{{ contact.name }}</td>
					<td>{{ contact.phone }}</td>
					<td>
						<router-link class='btn btn-secondary' :to="`/contacts/${contact.id}`">Edit</router-link>
						<button class='btn btn-warning' @click='showDeleteConfirmation(contact, index)'>
							Delete
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</template>

<script>
	import {ContactsClient} from '@clients/ContactsClient';

	export default {
		data () {
			return {
				contacts: []
			}
		},

		methods: {
			deleteContact(id) {
				return ContactsClient.delete(id);
			},

			showDeleteConfirmation(selectedContact, index) {
				this.$swal({
					text: `Are you sure you want to delete this contact? "${selectedContact.name}"`,
					showCancelButton: true,
				}).then((res) => {
					if (res.value !== undefined) {
						this.deleteContact(selectedContact.id).then(() => {
							this.contacts.splice(index);
						});
					}
				});
			}
		},

		mounted() {
			ContactsClient.all().then((response) => {
				this.contacts = response.data;
			});
		}
	}
</script>